body {
	background: #EDEDED;
}

#message {
	color: #000;
	font-size: 52px;
    font-style: oblique;
    font-family: monospace;
    width: 100%;
    text-align: center;
    margin: 100px auto 20px auto;
}

#wait {
	font-size: 52px;
    width: 100%;
    text-align: center;
    margin: 10px auto;
    color: #bcd;
}

#links {
	font-size: 20px;
	position: fixed;
	width: 99%;
	bottom:0;
	margin: 50px auto 5px auto;
}

#social {
	float:left;
}

#NotSoMuch {
	float:right;
}

.fa-whatsapp {
	color: #4dc247;
}

.fa-instagram {
	color:#3f729b;
}

.fa-skype {
	color: #00aff0;
}

.fa-facebook {
	color:#3b5998;
}

.fa-linkedin{
	color:#0077b5;
}

.fa-twitter {
	color:#55acee;
}

.fa-google {
	color:#4285f4;
}

.fa-github {
	color:#333333;
}
