body {
	background: #EDEDED;
}

#message {
	color: #000;
	font-size: 52px;
    font-style: oblique;
    font-family: monospace;
    width: 100%;
    text-align: center;
    margin: 100px auto 20px auto;
}

#wait {
	font-size: 52px;
    width: 100%;
    text-align: center;
    margin: 100px auto;
    color: #bcd;
}

#links {
	font-size: 20px;
	position: fixed;
	width: 99%;
	bottom:0;
	margin: 50px auto 5px auto;
}

#social {
	float:left;
	background:#fff;
	padding:0.5%;
	border-radius:5px;
}

#NotSoMuch {
	float:right;
	background:#fff;
	padding:0.5%;
	border-radius:5px;
}

.fa-file-pdf-o {
	color: #fc0d1b;
	cursor: pointer;
}

.fa-instagram {
	color:#3f729b;
	cursor: pointer;
}

.fa-skype {
	color: #00aff0;
	cursor: pointer;
}

.fa-facebook {
	color:#3b5998;
	cursor: pointer;
}

.fa-linkedin{
	color:#0077b5;
	cursor: pointer;
}

.fa-twitter {
	color:#55acee;
	cursor: pointer;
}

.fa-google {
	color:#4285f4;
	cursor: pointer;
}

.fa-github {
	color:#333333;
	cursor: pointer;
}
